

/* Awal Header */
header {
  background-color: var(--card-color);
  padding: 16px;
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: 24px;
}

header h2 {
  color: #fff;
  font-size: 30px;
}

header p {
  margin-top: 5px;
  color: var(--paragraph-color);
}
/* Akhir Header */

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.card {
  background: white;
  padding: 16px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card h4 {
  margin: 0;
  color: #555;
}

.card p {
  font-size: 22px;
  font-weight: bold;
  margin-top: 8px;
}