header.header-kasir {
  background-color: var(--card-color);
  padding: 16px 16px 20px 16px;
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: 24px;
  flex-shrink: 0;
}

header.header-kasir h2 {
  color: #fff;
  font-size: 30px;
}

header.header-kasir p {
  margin-top: 5px;
  color: var(--paragraph-color);
}

/* Awal Main */
main {
  display: flex;
  flex-direction: row;
}
/* Akhir Main */

/* Awal Produk Kasir */
.produk-kasir {
  flex: 2;
}
/* Akhir Produk Kasir */

/* Awal Keranjang Belanja */
.keranjang-belanja-kasir {
  background-color: var(--card-color);
  padding: 16px;
  border: 2px solid var(--primary-color);
  width: 350px;
  border-radius: 15px;
  margin-right: 16px;
}

.keranjang-belanja-kasir h2 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: var(--weight-black);
  border-bottom: 1px solid #333;
  padding-bottom: 15px;
  /* height: 40px; */
}

.keranjang-belanja-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 68vh;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
}

.keranjang-belanja-wrapper .material-symbols-outlined {
  font-size: 80px;
  color: var(--paragraph-color);
  margin-bottom: 16px;

}

.keranjang-belanja-wrapper p {
  color: var(--paragraph-color);
}

.keranjang-belanja-wrapper .keranjang-kosong {
  font-size: 16px;
  font-weight: var(--weight-bold);
  margin-bottom: 8px;
}

.keranjang-belanja-wrapper .keranjang-deskripsi {
  font-size: 14px;
}
/* Akhir Keranjang Belanja */

/* Awal Bar Pencarian */
.bar-pencarian-kasir {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--card-color);
  padding: 8px 16px;
  border-radius: 8px;
  margin: 0 16px 24px 16px;
  gap: 8px;
  border: 1px solid #333;
}

.bar-pencarian-kasir span.material-symbols-outlined {
  font-size: 24px;
  color: var(--paragraph-color);
}
.bar-pencarian-kasir input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: var(--paragraph-color);
  font-size: 16px;
}
/* Akhir Bar Pencarian */

/* Awal List Produk */
.container-wrapper-produk {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 16px;
  margin-right: 16px;
  margin-left: 16px;
  height: 72vh;
  overflow-y: auto;
}

.container-list-produk {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap: 13.5px;
  /* border: 1px solid #fff; */
  justify-content: flex-start;
  align-items: flex-start;
}

.container-wrapper-produk::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}

.card-produk-kasir {
  background-color: var(--card-color);
  border: 1px solid #333;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(33.333% - 9px);
  cursor: pointer;
  transition: transform 0.2s;
}

.card-produk-kasir h3 {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: var(--weight-bold);
  margin-bottom: 8px;
}

.card-produk-kasir p {
  color: var(--paragraph-color);
  font-size: 13px;
}

.judul-stok-produk {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.overflow-judul-produk {
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.judul-stok-produk h3 {
  color: #fff;
  font-size: 16px;
  font-weight: var(--weight-bold);
}

.judul-stok-produk p {
  padding: 3px 6px;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: var(--weight-bold);
}

@media (max-width: 768px) {
  .card-produk-kasir {
    width: calc(50% - 10px); /* 2 card per baris pada layar menengah */
  }
}

@media (max-width: 480px) {
  .card-produk-kasir {
    width: 100%; /* 1 card per baris pada layar kecil */
  }
}
/* Akhir List Produk */

#keranjang-items {
  /* margin-top: 16px; */
}

.keranjang-item {
  background-color: #000;
  border: 1px solid #333;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.keranjang-item h4 {
  font-size: 16px;
  color: #fff;
}

.keranjang-item p {
  font-size: 14px;
  margin: 5px 0;
  color: var(--paragraph-color);
}

.keranjang-item .actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.keranjang-item .product-buttons-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.card-produk-kasir button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 8px;
}

.product-qty {
  font-size: 14px;
  color: #fff;
  min-width: 20px;
  text-align: center;
  font-weight: var(--weight-bold);
}

.increase-qty {
  background-color: var(--primary-color);
  color: #000;
  border: none;
  width: 22px;
  height: 22px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  font-weight: var(--weight-bold);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.decrease-qty {
  background-color: var(--primary-color);
  color: #000;
  border: none;
  width: 22px;
  height: 22px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  font-weight: var(--weight-bold);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-total {
  font-size: 14px;
  color: #fff;
}

.remove-item {
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: var(--weight-black);
  position: relative;
  bottom: 38px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}