@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap');

/* Awal CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
}
/* Akhir CSS Reset */

body {
  font-family: Arial, sans-serif;
  /* background-color: var(--background-color); */
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Awal Wrapper Theme */
.wrapper-theme {
  /* background-color: var(--foreground-color);
  border-radius: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
  width: 100%;
}

.wrapper-theme button {
  flex: 1;
  border-radius: 8px;
  border: none;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  background-color: var(--card-color);
  border: 1px solid var(--primary-color);
  color: var(--foreground-color);
}

.wrapper-theme button.active {
  background-color: var(--primary-color);
}
/* Akhir Wrapper Theme */

/* Awal Container Login */
.container-login {
  display: flex;
  flex-direction: row;
}

.judul-box {
  width: 400px;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-left: 2px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.judul-box h1 {
  font-family: 'Science Gothic', sans-serif;
  font-weight: 500;
  color: var(--foreground-color);
  font-size: 40px;
}

.judul-box p {
  font-family: 'Asap', sans-serif;
  color: var(--paragraph-color);
  font-size: 14px;
  font-weight: 400;
}

.login-box {
  width: 400px;
  padding: 25px;
  background-color: var(--background-color);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
  border-left: 1px solid var(--primary-color);
}

.login-box h2 {
  text-align: center;
  color: var(--foreground-color);
}

.login-box p {
  text-align: center;
  margin-bottom: 20px;
  color: var(--paragraph-color);
  font-size: 14px;
  font-weight: 400;
}

.login-box img {
  border-radius: 50%;
  margin-bottom: 10px;
  height: 70px;
  width: 70px;
}

.login-box .judul-aplikasi {
  font-family: 'Science Gothic', sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 30px;
  color: var(--foreground-color);
}

.login-box .deskripsi-aplikasi {
  font-family: 'Asap', sans-serif;
  text-align: center;
  margin-bottom: 24px;
  color: var(--paragraph-color);
  font-size: 14px;
  font-weight: 400;
}

.input-wrapper {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-box input {
  width: 100%;
  padding: 18px;
  margin-bottom: 12px;
  border: 1px solid var(--paragraph-color);
  border-radius: 8px;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-size: 14px;
}

.login-box label {
  color: var(--foreground-color);
  margin-bottom: 6px;
  text-align: left;
  font-size: 14px;
}

.login-box a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 20px;
  align-self: flex-end;
}

.login-box button {
  width: 100%;
  padding: 18px;
  background: var(--primary-color);
  color: var(--foreground-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: var(--transition);
}

.login-box button:hover {
  background: var(--secondary-color);
}
/* Akhir Container Login */

.password-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding: 18px;
  padding-right: 45px; /* ruang untuk icon */
  border: 1px solid var(--paragraph-color);
  border-radius: 8px;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-size: 14px;
}

.password-wrapper .material-symbols-outlined {
  position: absolute;
  right: 12px;
  top: 15px;
  cursor: pointer;
  color: var(--paragraph-color);
  font-size: 23px;
}

.username-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.username-wrapper input {
  width: 100%;
  padding: 18px;
  padding-right: 45px; /* ruang untuk icon */
  border: 1px solid var(--paragraph-color);
  border-radius: 8px;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-size: 14px;
}

.username-wrapper .material-symbols-outlined {
  position: absolute;
  right: 12px;
  top: 15px;
  color: var(--paragraph-color);
  font-size: 23px;
}
