* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Asap', sans-serif;
  background: var(--background-color);
  min-height: 100vh;
  color: #fff;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.main-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}

header {
  width: 100%;
  background-color: var(--card-color);
  border-bottom: 2px solid var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 5px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.back-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  /* border: 1px solid white; */
}

.back-button a {
  text-decoration: none;
  color: var(--foreground-color);
  font-weight: var(--weight-bold);
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.back-button a:hover {
  transform: translateX(-3px);
}

.back-button a .material-symbols-outlined {
  font-size: 28px;
}

.judul-header {
  flex: 1.49;
  /* border: 1px solid white; */
}

header h3 {
  color: var(--foreground-color);
  font-size: 28px;
  font-weight: var(--weight-black);
}

header p {
  color: var(--paragraph-color);
  font-size: 14px;
}

.main-container {
  padding: 20px;
}

.card-total-pembayaran {
  background-color: var(--card-color);
  border-radius: 10px;
  border: 1px solid #333;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.card-total-pembayaran h4 {
  color: var(--foreground-color);
}

.card-tunai-diterima-pembayaran {
  background-color: var(--card-color);
  border-radius: 10px;
  border: 1px solid #333;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 16px;
}

.card-tunai-diterima-pembayaran label {
  font-size: 16px;
  font-weight: var(--weight-bold);
  margin-bottom: 6px;
  color: var(--foreground-color);
}

.card-tunai-diterima-pembayaran input {
  background-color: var(--foreground-color);
  border: 1px solid #333;
  border-radius: 8px;
  width: 100%;
  background-color: var(--background-color);
  padding: 10px;
  margin-bottom: 6px;
  color: var(--foreground-color);
}

.card-tunai-diterima-pembayaran p {
  font-size: 14px;
  color: var(--paragraph-color);
}

.wrapper-pecahan-uang-pembayaran {
  background-color: var(--card-color);
  border: 1px solid #333;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  gap: 10px;
}

.wrapper-pecahan-uang-pembayaran button {
  background: var(--background-color);
  border: 1px solid #333;
  border-radius: 8px;
  color: var(--paragraph-color);
  cursor: pointer;
  padding: 16px;
  /* width: 190px; */
  transition: all 0.2s ease;
  font-size: 14px;
  font-weight: var(--weight-bold);
  flex: 1;
  cursor: pointer;
}

.wrapper-pecahan-uang-pembayaran button:active {
  border: transparent;
  background-color: var(--primary-color);
  color: var(--foreground-color);
}

.wrap-button-proses-pembayaran {
  /* padding: 10px; */
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}

.wrap-button-proses-pembayaran button {
  background-color: var(--primary-color);
  border: 1px solid #333;
  padding: 15px;
  border-radius: 8px;
  color: var(--foreground-color);
  flex: 1;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--weight-bold);
  color: var(--foreground-color);
  cursor: pointer;
}

.wrap-button-proses-pembayaran a {
  background-color: var(--hijau);
  border: 1px solid transparent;
  padding: 15px;
  border-radius: 8px;
  color: var(--foreground-color);
  flex: 1;
  text-decoration: none;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--weight-bold);
  color: white;
}

.card-drawer-options {
  margin-top: 15px;
  padding: 12px 15px;
  background: var(--card-color);
  border-radius: 8px; 
  border: 1px solid var(--border-color);
}

.card-total-pembayaran.info-pembeli {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-total-pembayaran label {
  font-size: 16px;
  font-weight: var(--weight-bold);
  color: var(--foreground-color);
}

.card-total-pembayaran input {
  background-color: var(--foreground-color);
  border: 1px solid #333;
  border-radius: 8px;
  width: 100%;
  background-color: var(--background-color);
  padding: 10px;
  margin-top: 6px;
  color: var(--foreground-color);
}